<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landingpage.css') }}">
<script src="index.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
<header class="head-content">
	<h1>To do list</h1>
</header>


<div class="main-content">
    <form action="{{ url_for('addtodo') }}" method="POST">
        <input type="text" name="task" id="task" placeholder="Enter tasks">
        <button class="btn btn-primary" type="submit">Add Tasks</button>
    </form>

    {% with messages = get_flashed_messages() %}  
	{% if messages %}  
		  {% for message in messages %}  
		<td border="2px">
		 <td><center><p>{{ message }}</p></center></td>
		</table>	    
		  {% endfor %}  
	{% endif %}  
 {% endwith %}  

 <div class="tasks">

    <h1>Tasks</h1>
<ul>
   {% for row in rows %}
   <li>
      {{row["tasks"]}}
   </li>
   
{% endfor %}
   
</ul>

 </div>
    
</div>


<footer class="foot-content">
	Follow <br><br>
	<a href="https://www.linkedin.com/in/sharath-s-hebbar-14b541172" class="linkedin"><i class="fa fa-linkedin-square" style="font-size:21px;color:royalblue" ></i></a>
	<a href="https://github.com/SharathHebbar" class="github">
		<i class="fa fa-github" aria-hidden="true" style="font-size:21px"></i>

	</a>
</footer>

</body>
</html> 